textarea.noodel-editor {
  width:100%;
  height:5em; 
  box-sizing: border-box;         /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;    /* For Firefox                          */
  -webkit-box-sizing: border-box; /* For Safari                           */
  resize: none;
  font-family: monospace;
}

textarea.noodel-output {
  width:100%;
  height:5em; 
  box-sizing: border-box;         /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;    /* For Firefox                          */
  -webkit-box-sizing: border-box; /* For Safari                           */
  resize: vertical;
  font-family: monospace;
}

textarea.noodel-input {
  width:100%;
  height:2em; 
  box-sizing: border-box;         /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;    /* For Firefox                          */
  -webkit-box-sizing: border-box; /* For Safari                           */
  resize: none;
  font-family: monospace;
}

div.noodel-chars {
  width:100%;
  height:26em;
  box-sizing: border-box;         /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;    /* For Firefox                          */
  -webkit-box-sizing: border-box; /* For Safari                           */
  font-family: monospace;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  word-wrap: none;
}

div.noodel-chars a {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #dddddd;
  color: black;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
   -khtml-user-select: none; /* Konqueror */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}
